<body>
  <h1>New Route for Users</h1>

   <form action="/users" method="POST" accept-charset="UTF-8" data-turbo="false">
    <label for="username">Username</label>
    <input type="text" id="username" name="user[username]">

    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]">

    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <button type="submit">Create Account</button>
  </form>

  <%= form_tag("/users") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>

    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email) %>

    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>

    <%= submit_tag("Create Account")%>
  <% end %>

  <% if @user && @user.errors.any? %>
    <div id="errors">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited the account from being created.</p>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</body>
